# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folders
venv/
.env/
__pycache__/

# Ignore dataset or large output files
*.csv
*.tsv
*.json
*.xml
*.parquet
*.h5
*.pkl
*.db

# Ignore Jupyter Notebook autosave files
*.~nb

# Ignore system files
.DS_Store
Thumbs.db
